# Your API key, you can get it from Safeheron Web Console: https://www.safeheron.com/console.
apiKey: 080db****6e60
# path to your private key file, pem encoded
privateKeyPemFile: /path/to/your/privatekey.pem
# path to Safeheron API public key file, pem encoded, you can get it from Safeheron Web Console: https://www.safeheron.com/console.
safeheronPublicKeyPemFile: /path/to/safeheron/api/publickey.pem
# Safeheron API base url
baseUrl: https://api.safeheron.vip
# Wallet Account key
accountKey: account****5ecad40
# To address
destinationAddress: 0x9437A****0BF95f5
# RequestTimeout (Millisecond), Default: 20000
requestTimeout: 20000
bridgeResources:
  0x000000000000000000000000000000c76ebe4a02bbc34786d860b355f5a5cf00:
    1:
      chainName: Arbitrum One
      coinKey: EMC_L2ERC20_ARBITRUM_MAINNET
      coinName: EMC
      coinDecimal: 18
      coinType: ERC20
    2:
      chainName: Edge Matrix Chain
      coinKey: EMC_L1ERC20_WEMC_MAINNET
      coinName: WEMC
      coinDecimal: 18
      coinType: ERC20